In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

# --- Connect to PostgreSQL ---
engine = create_engine("postgresql+psycopg2://postgres:your_password@localhost:5432/your_database")

# --- Run your SQL query ---
query = """
SELECT
    job_id,
    job_title,
    job_location,
    job_schedule_type,
    salary_year_avg,
    job_posted_date,
    name AS company_name
FROM    
    job_postings_fact
LEFT JOIN company_dim
        ON job_postings_fact.company_id = company_dim.company_id
WHERE
    job_title_short = 'Data Analyst'
    AND job_location = 'Anywhere'
    AND salary_year_avg IS NOT NULL
ORDER BY
    salary_year_avg DESC
LIMIT 10;
"""
df = pd.read_sql(query, engine)

# --- Make the chart ---
plt.figure(figsize=(10,6))
plt.barh(df["company_name"], df["salary_year_avg"], color="skyblue")
plt.xlabel("Average Yearly Salary (USD)")
plt.ylabel("Company")
plt.title("Top 10 Highest Paying Remote Data Analyst Roles")
plt.gca().invert_yaxis()
plt.show()